

/*当前位置*/
.crumbs{
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    padding: 16px 0 6px;
    border-bottom: 1px solid #cecece;
}
.crumbs img{
    display: inline-block;
    margin-bottom: -1px;
}
.crumbs span{
    display: inline-block;
    margin-left: 5px;
}
.crumbs a{
    display: inline-block;
    margin-left: 5px;
}

/*分页样式*/
/*-------------------------------------------------------------------*/
#page_div{
    width: 80%;
    margin: 1em auto;
    text-align: center;
}
.pagination-index,
.pagination-num{
    border: 1px solid #bfbfbf;
    margin: 0.2em;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 3px;
    color: #000;
}
.pagination-num.active,
.pagination-index:hover,
.pagination-num:hover{
    background: #1a4d99;
    color: white;
}
.pagination-last{
    margin-left: 0;
}
.pagination-last>span{
    margin: 0.5em;
}
.pagination-last>input{
    width: 2em;
    height: 1.3em;
    text-align: center;
}

/*政民互动*/
.border{
    width: auto;
}
.hd_nav > .active{
    background-color: #c2121f;
}
.hd_list > .title > div{
    color: #c2121f;
}
.hd_search .xjcx{
    color: #c2121f;
}
.hd_wyxx .hd_nav{
    border-bottom: 1px solid #c2121f;
}
#page_div .currentIndex{
    background-color: #c2121f;
    border: 1px solid #c2121f;
}
.hd_search .btn-info,
.hd_search .btn-info:hover{
    background-color: #c2121f;
}
.hd_wyxx .yzm > div > a{
    background-color: #c2121f;
}
.hd_wyxx .tijiao > button{
    background-color: #c2121f;
}
.hd_btn > input{
    background-color: #c2121f;
}
.zj-my-com,
.my-com-rt input.submit-btn{
    background-color: #c2121f;
}
.hd_yjlb_title > span{
    border-bottom: 2px solid #c2121f;
}

/* ios */
@media (max-width: 760px) {
    .container{
        width: 100%;
    }
}